body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.game-screen {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#instructions{
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  padding: 30px;
  color: #FEF2BF;
}

.instructions{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  line-height: 3;
  font-size: 1rem;
  padding: 50px;
}
.instructions-gif{
  text-align: center;
  width:400px;
  margin: auto;
}
.ok,.play{
  width: 100px;
  height: 50px;
  border: 0;
  border-radius: 2%;
  margin: 3px;
  padding-bottom: 10px;
  position: relative;
  bottom: 30px;
}

/* @media (max-width: 700px) {
  #instructions{
    margin-top: 150px;
  }
.instructions{
  font-size: 2rem;
  width: 60%;
  margin: 20% auto 3%;
}
} */
